<div class="footer">
    <div class="footer-content">
       <p>&copy;Blog_er 2020</p>
       <p>Lorem ipsum, dolor sit a
           met consectetur adipisicing elit. Incidunt, quidem eaque? Impedit cupiditate, ad esse sunt aliquid magni recusandae suscipit! Quos aliquam possimus,
            ipsum odit soluta culpa excepturi nisi ullam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Pariatur vitae quas, deleniti vero fuga ipsam necessitatibus nesciunt perspiciatis laboriosam. 
                oluptatem totam nam praesentium cumque velit perferendis nemo harum porro quo.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                     Nesciunt dolor nihil voluptatem, suscipit recusandae delectus, quae laboriosam quisquam molestias aut, 
                     expedita illum doloremque facere perspiciatis nam?
                     Possimus rem pariatur dolores.</p>
    </div>
   
   
</div>