<div class="footer">
    <div class="footer-header">
        <p>&copy;Blog_er 2020</p>
    </div>

    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-md-4">
                    <p>Contact</p>
                    <span>
                        <i class="fa fa-envelope">admin34@bloger.com</i>
                    </span>
                </div>

                <div class="col-md-4">
                    <p><a href="#">Our Policy</a></p>
                </div>

                <div class="col-md-4">
                    <p><a href="#">About</a></p>
                </div>

            </div>
        </div>
    </div>


</div>